<!-- este componente sirve para inyectar de manera dinamica los estilos y evitar conflictos para el admin y la pagina publica -->
<div ng-if="vm.authenticationService.validSession()">
    <link rel="stylesheet" href="lib/html5-boilerplate/dist/css/normalize.css">
    <link rel="stylesheet" href="lib/html5-boilerplate/dist/css/main.css">
    <script src="lib/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
    <link rel="stylesheet" href="css/admin/bootstrap.min.css">


    <link rel="stylesheet" href="css/admin/cs-skin-elastic.css">
    <link rel="stylesheet" href="css/admin/style.css">
    <link rel="stylesheet" href="css/admin/my_styles.css">

    <link rel="stylesheet" href="css/admin/main.css">
</div>
<div ng-if="!vm.authenticationService.validSession()">
    <link rel="stylesheet" href="css/public/styles.css">
    <link rel="stylesheet" href="css/public/util.css">
    <link rel="stylesheet" href="css/public/myStyles.css">
</div>