<style-links></style-links>
<div id="right-panel" class="right-panel">
  <header-component></header-component>
  <div class="content pb-0">
    <div class="row flex-container-center">
      <div class="card form-content">
        <div class="card-header">
          <strong>{{vm.isEditing ? 'Editar' : 'Crear'}}</strong> Usuario
        </div>
        <div class="card-body card-block">
          <form class="form-horizontal" novalidate name="vm.usuarioForm">
            <div class="row form-group">
              <div class="col col-md-4">
                <label for="text-input" class="form-control-label"
                  >Nombres</label
                >
              </div>
              <div class="col-12 col-md-8">
                <input
                  type="text"
                  id="text-input"
                  name="nombres"
                  placeholder="Nombres"
                  class="form-control"
                  ng-model="vm.usuarioModel.first_name"
                  required
                />
                <small
                  class="form-text text-danger"
                  ng-if="vm.usuarioForm.first_name.$invalid"
                  >*Ingrese el nombre del usuario</small
                >
              </div>
            </div>
            <div class="row form-group">
              <div class="col col-md-4">
                <label for="text-input" class="form-control-label"
                  >Apellidos</label
                >
              </div>
              <div class="col-12 col-md-8">
                <input
                  type="text"
                  id="text-input"
                  name="apellidos"
                  placeholder="Apellidos"
                  class="form-control"
                  ng-model="vm.usuarioModel.last_name"
                  required
                />
                <small
                  class="form-text text-danger"
                  ng-if="vm.usuarioForm.last_name.$invalid"
                  >*Ingrese el apellido del usuario</small
                >
              </div>
            </div>
            <div class="row form-group">
              <div class="col col-md-4">
                <label for="text-input" class="form-control-label"
                  >Nombre de usuario</label
                >
              </div>
              <div class="col-12 col-md-8">
                <input
                  type="text"
                  id="text-input"
                  name="username"
                  placeholder="Nombre de usuario"
                  class="form-control"
                  ng-model="vm.usuarioModel.username"
                  required
                />
                <small
                  class="form-text text-danger"
                  ng-if="vm.usuarioForm.username.$invalid"
                  >*Ingrese el nombre de usuario</small
                >
              </div>
            </div>
            <div class="row form-group">
              <div class="col col-md-4">
                <label for="text-input" class="form-control-label"
                  >Correo</label
                >
              </div>
              <div class="col-12 col-md-8">
                <input
                  type="email"
                  id="text-input"
                  name="email"
                  placeholder="Correo"
                  class="form-control"
                  ng-model="vm.usuarioModel.email"
                  required
                />
                <small
                  class="form-text text-danger"
                  ng-if="vm.usuarioForm.email.$invalid"
                  >*Ingrese el correo del usuario</small
                >
              </div>
            </div>
            <div class="row form-group">
              <div class="col col-md-4">
                <label for="text-input" class="form-control-label"
                  >Contraseña</label
                >
              </div>
              <div class="col-12 col-md-8">
                <input
                  type="text"
                  id="text-input"
                  name="password"
                  placeholder="Contraseña"
                  class="form-control"
                  ng-model="vm.usuarioModel.profile.raw_password"
                  required
                />
                <small
                  class="form-text text-danger"
                  ng-if="vm.usuarioForm.password.$invalid"
                  >*Ingrese la contraseña del usuario</small
                >
              </div>
            </div>
            <div class="row form-group">
              <div class="col col-md-4">
                <label for="" class="form-control-label">Tipo de usuario</label>
              </div>
              <div class="col col-md-8">
                <div class="btn-group mb-2" uib-dropdown>
                  <button
                    id="split-button"
                    type="button"
                    class="btn btn-danger"
                  >
                    {{vm.userType}}
                  </button>
                  <button
                    type="button"
                    class="btn btn-danger"
                    uib-dropdown-toggle
                  >
                    <span class="caret"></span>
                  </button>
                  <div
                    class="dropdown-menu"
                    uib-dropdown-menu
                    role="menu"
                    aria-labelledby="split-button"
                  >
                    <a class="dropdown-item" ng-click="vm.setUserType(1)"
                      >Administrador</a
                    >
                    <a class="dropdown-item" ng-click="vm.setUserType(2)"
                      >Profesor</a
                    >
                    <a class="dropdown-item" ng-click="vm.setUserType(3)"
                      >Estudiante</a
                    >
                    <a class="dropdown-item" ng-click="vm.setUserType(4)"
                      >Publicador</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="card-footer">
          <button
            type="submit"
            class="btn btn-primary btn-sm"
            ng-click="vm.editarUsuario()"
            ng-if="vm.isEditing"
          >
            <i class="fa fa-dot-circle-o"></i> Guardar
          </button>
          <button
            type="submit"
            class="btn btn-primary btn-sm"
            ng-click="vm.crearUsuario()"
            ng-if="!vm.isEditing"
          >
            <i class="fa fa-dot-circle-o"></i> Guardar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
