<style-links></style-links>
<header-component></header-component>
<div class="center">
  <section id="content" class="w-100">
    <h1>Seccion nosotros</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus
      architecto mollitia voluptatibus vero alias nisi corrupti tenetur, veniam
      odit enim nam officia illum dolores dolorem dicta soluta, tempore esse
      quas.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus
      architecto mollitia voluptatibus vero alias nisi corrupti tenetur, veniam
      odit enim nam officia illum dolores dolorem dicta soluta, tempore esse
      quas.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus
      architecto mollitia voluptatibus vero alias nisi corrupti tenetur, veniam
      odit enim nam officia illum dolores dolorem dicta soluta, tempore esse
      quas.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus
      architecto mollitia voluptatibus vero alias nisi corrupti tenetur, veniam
      odit enim nam officia illum dolores dolorem dicta soluta, tempore esse
      quas.
    </p>
  </section>
  <aside></aside>
  <div class="clearfix"></div>
</div>
<footer-component></footer-component>
