tbody tr {
    cursor: pointer;
}

tbody tr:hover {
    background-color: lightgray;
}

.unclickeable-row {
    cursor: default !important;
}

/* Muestra toda la pantalla cuando ya se carguen los estilos para las paginas de administracion */
.hidden-screen {
    display: block !important;
}

.admin-card {
    width: 1000px;
}